<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <% if (theme.copyright){ %>
        <%- render(theme.copyright, 'pug'); %>
      <% } %>

      <div>
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
        <%= __('powered_by') %> <a href="https://hexo.io/" target="_blank">Hexo</a>
      </div>

      <div class="donation-corner">
        <div class="donation-requisites-container">
          <div class="donation-requisites">
<!--            <span>Privat | 4149 6293 5099 5684</span>-->
<!--            <span>Mono   | 5375 4141  1727  7854</span>-->
          </div>
          <div class="donation-icon"></div>
        </div>

<!--        <%- partial('google-pay') %>
      </div>
    </div>
  </div>
</footer>
